a.tooltip_link{
	position: relative !important;
}

.tooltip{
	display: none;
	position: absolute !important;
	width: 500px;
	background: rgba(230, 230, 230, 1);
	padding: 10px;
	margin: auto;
	z-index: 100;
	text-align: center;
	align: center;
	
	border-width: 2px;
	border-style: solid;
	border-radius: 8px;
}

.tooltip_img_container{
	self-align: center;
	width: 100%;
	align-content: center;
}

.tooltip_img_container img{
	padding-right: 2px;
	padding-left: 2px;
}