a.tooltip_link{
	position: relative !important;
}

.tooltip{
	display: none;
	position: absolute !important;
	width: 200px;
	background: rgba(61, 102, 143, 0.9);
	padding: 5px;
	margin: 0 0 12px 0;
	color: #fff;
	z-index: 100;
	bottom: 100%;
	text-align: center;	
}

.tooltip:after{
	center: "";
	position: absolute;
	bottom: -14px;
	z-index: 100;
	width: 100%
}

.tooltip:before{
	center: "";
	position: absolute;
	bottom: -14px;
	z-index: 100;
}

